.checkout-section > header > nav {
  /* background-color: var(--product-white); */
  /* background-color: darkcyan; */
}

.checkout-section > header > nav #nav-links {
  background-color: var(--color-black);
}

.checkout-section > header > nav #nav-links p {
  color: var(--color-white);
}

.checkout-section > header > nav .nav-links p {
  color: var(--color-black);
}

.checkout-section > .checkout {
  display: grid;
  row-gap: 3rem;
}

.checkout img {
  width: 100%;
}

.checkout > h1 {
  color: var(--color-black);
  text-align: center;
  font-weight: 700;
  font-size: 76.4693px;
  line-height: 93px;
  letter-spacing: -0.08em;
  margin-top: 2rem;
}

@media screen and (min-width: 800px) {
  .checkout > h1 {
    font-size: 181.137px;
    line-height: 219px;
    letter-spacing: -0.08em;
    margin-top: -4rem;
  }

  .checkout-section > header > nav {
    padding: 2.31rem 3rem;
  }
}
